*{
    margin: 0px;
    padding: 0px;
}


/* Navbar section styles */
.nav-container{
    background-color: rgb(0, 217, 166);
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-photo{
    width: 130px;
}

.nav-items{
    display: flex;
    list-style: none;
    gap: 25px;
    align-items: center;
    font-size: 20px;
}
.item:hover{
    cursor: pointer;
    color: tomato;
}

/* Banner Section style */
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: rgb(155, 238, 221);
}

.banner-title{
    font-size: 50px;
}

.banner-description{
    font-size: 20px;
}

.btn{
    padding: 8px 18px;
    background-color: rgb(156, 80, 164);
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

.btn:hover{
    cursor: pointer;
    background-color: green;
    color: tomato;
}

.banner-img{
    width: 300px;
}